# Helpful aliases

Host wall-e
  HostName 10.0.0.12
  Port 22
  User gisikw

Host webby
  HostName cheerskevin.com
  Port 22
  User gisikw

Host moneybags
  HostName 104.237.141.190
  Port 22
  User gisikw

Host aponoia
  HostName 104.237.141.178
  Port 22
  User gisikw

Host cheerscraft
  HostName 68.183.61.41
  Port 22
  User gisikw

Host cc
  Hostname 158.69.22.221
  Port 22
  User gisikw

Host rp
  Hostname kevingisi.com
  Port 22
  User reverseproxy
  RemoteForward 4096 localhost:22
  ServerAliveInterval 30
  ServerAliveCountMax 3
