# Helpful aliases

Host wall-e
  HostName 10.0.0.12
  Port 22
  User gisikw

Host webby
  HostName cheerskevin.com
  Port 22
  User gisikw

Host moneybags
  HostName 104.237.141.190
  Port 22
  User gisikw
